html, body {
     max-width: 100%;
     height: 100%;     
     margin: 0; padding: 0;
     overflow-x: hidden;
     font-family:'Noto Sans KR', 'sans-serif' !important;
     font-weight: 100;
     outline: none;   
}

/* 가운데 영역 */
.container-fluid {
     padding-right: 60px;
     padding-left: 60px;
}

/* header */
header {height: 180px; overflow: hidden; position: relative;}
nav {overflow: hidden; position: absolute; right: 0; bottom: 0;}
nav > a {float: left; padding-right: 1.250em; 
     color: #fff;
     font-weight: 100;
}
nav > a:hover {text-decoration: none; color: #58FAF4;}
nav > a small {
     font-weight: 100;
     font-size: 50%
}
nav .nav-list {font-size: 1.563em;}
nav > a:nth-child(2) {padding-right: 0;}
nav br {display: none;}

@media (max-width: 375px) {
     header {height: 150px;}
     p {margin-bottom: 0.5rem; }
     nav br {display: block;}
 }










