.wrapper {
     position: relative;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.6);     
}
.wrapper:after {
     content: "";
     width: 100%; height: 100%;     
     position: absolute; left: 0; top: 0; bottom: 0; right: 0;     
     background: url(../img/img03.jpeg) center center no-repeat fixed;
     background-size: cover;
     z-index: -1;
}

section {position: relative;}

/* profile*/
.profile {position: absolute; top: 50px; right: 0; text-align: right;}
.profile img {max-width: 100% ; border-radius: 50%; }
.pf-text {text-align: right; margin-top: 50px; font-size: 1.250em; color: #fff;} 
.pf-text .pf-text-title {font-size: 1.3rem; }
.pf-text p > a {color: #fff; text-decoration: none;}
.pf-text p > a:hover {color: #58FAF4;}

