section {position: relative;}
/* profile*/

.profile {
     position: absolute; top: 50px; right: 0; text-align: right;}

.profile img {border-radius: 50%; }
.pf-text {text-align: right; margin-top: 50px; font-size: 1.250em; color: #fff;} 
.pf-text p > a {color: #fff; text-decoration: none;}
.pf-text p > a:hover {color: #58FAF4;}

