.wrapper {
     position: relative;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.6);     
}
.wrapper:after {
     content: "";
     width: 100%; height: 100%;     
     position: absolute; left: 0; top: 0; bottom: 0; right: 0;     
     background: url(../img/main_bg.jpg) 72% 50% no-repeat;
     background-size: cover;
     z-index: -1;
}

section {position: relative;}

/* profile*/
.profile {position: absolute; top: 50px; right: 0; text-align: right;}
.profile img {width: 150px; height: 150px; border-radius: 50%; }
.pf-text {text-align: right; margin-top: 50px; font-size: 1.250em; color: #fff;} 
.pf-text .pf-text-title {font-size: 1.3rem; }
.pf-text p > a {color: #fff; text-decoration: none;}
.pf-text p > a:hover {color: #58FAF4;}

@media (max-width: 325px) {
     .profile {top: 30px;}
     .profile img {width: 100px; height: 100px;}
     .pf-text {margin-top: 30px; font-size: 1rem;}
     .pf-text .pf-text-title {font-size: 1rem;}
}