nav > br {display: none;}
.work-list > a {text-decoration: none;}
a.portfolio-item-link {display: block; width: 14rem;}
.card {height: 270px; background: rgba(255,255,255,0.2);}
.card-body {padding: 0.5rem;}
.card-img-top {min-height: 100px!important;}
span.card-title {
    padding: 0.5rem 1.0rem;
    margin-bottom: 0;
    font-size: 1.20rem; 
    font-weight: bold;
    color: #fff;    
}
.btn-group-lg>.btn, .btn-lg {
    width: 7.5rem;
    padding: .3rem 1rem;
    font-size: 0.8rem;
    line-height: 0.8;
    border-radius: .2rem;
}

@media (max-width: 1910px) {
    .item-8 {margin-top: 20px;}
}
@media (max-width: 1690px) {
    .item-7 {margin-top: 20px;}
}
@media (max-width: 1470px) {
    .item-6 {margin-top: 20px;}
}
@media (max-width: 1250px) {
    .item-5 {margin-top: 20px;}
}
@media (max-width: 1030px) {
    .item-4 {margin-top: 20px;}
}
@media (max-width: 810px) {
    .item-3 {margin-top: 20px;}
}
@media (max-width: 590px) {
    .item-2 {margin-top: 20px;}
}
@media (max-width: 375px) {
    .item-2 {margin-top: 20px;}
    nav > br {display: block;}
}


