/* Reset */
 * {outline:0 !important;}
html {box-sizing:border-box;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
html, body{width:100%;}
ul,ol,li{list-style:none; box-sizing: border-box;}
img,fieldset{border:0;}
a{color:#000;text-decoration:none;}
main,header,section,nav,footer,aside,article,figure{display:block; box-sizing: border-box;}