/* layout */
.wrapper {width: 99%; overflow:  hidden;}
.header {height: 71px;}
main {z-index: 101;}
section { }
footer {min-height: 340px; background: #2E2E2E; padding: 55px 5px;}

/* 가운데 영역 */
.container {max-width: 1078px; margin: 0 auto; /*background: rgba(0,0,0,0.5);*/}

/* header */
.header h1 {float: left; padding: 25px; }
.header h1 a.logo {display: block; float: left; width: 182px; height: 20px; background: url(../img/img_gnb_181002.png) no-repeat; }

.header .gnb {float: left; margin-left: 85px;}
.header .gnb > ul {overflow: hidden;}
.header .gnb > ul > li {float: left; margin-right: 24px;}
.header .gnb > ul > li:after {content: ''; display: block; }
.header .gnb > ul > li > a {display: block; padding: 25px 0; font-size: 15px;}

.m-gnb {display: none;}

ul.category-list {z-index: 99; }
ul.category-list > li { }
ul.category-list > li > a {color: #000; }

.header .header-util {float: right;}
.header .header-util > ul {overflow: hidden;}
.header .header-util > ul li {float: left; padding: 24px 0; margin-right: 27px;}
.header .header-util > ul li a {display: block; width: 25px; height: 25px; }
.header .header-util > ul li:nth-child(1) a {background: url(../img/img_gnb_181002.png) no-repeat -184px 0; }
.header .header-util > ul li:nth-child(2) a {background: url(../img/img_gnb_181002.png) no-repeat -205px 0; }
.header .header-util > ul li:nth-child(3) a {background: url(../img/img_gnb_181002.png) no-repeat -230px 0; }
.header .header-util > ul li:nth-child(4) a {background: url(../img/img_gnb_181002.png) no-repeat -285px 0; }

/* main */
.bx-wrapper { }
main .slider span.slider-txt {display: block; margin-top: 30px; font-size: 15px; text-align: center; font-weight: bold;}
main .slider span.slider-title {display: block; font-size: 34px; text-align: center; font-weight: bold; margin: 10px 0 20px 0;}

.bx-wrapper .bx-controls-direction a {top: 43%;}
/* section > banner-box */
.banner-1-box { }
.banner-1-box > ul {overflow: hidden; }
.banner-1-box > ul li {position: relative; float: left; width: 50%; padding: 10px; box-sizing: border-box;}
.banner-1-box > ul li:nth-child(odd) {}
.banner-1-box img {max-width: 100%; display: block; border-radius: 10px;}
.banner-1-box span.banner-1-txt {position: absolute; left: 30px; bottom: 25px; color: #fff; font-size: 1.563rem; font-weight: bold;}

.banner-2-box, .banner-3-box, .banner-4-box {/*background: #888;*/ position: relative; margin-top: 60px;}

.banner-2-box > ul li, 
.banner-3-box > ul li,
.banner-4-box > ul li {
    float: left; width: 25%; padding: 10px; box-sizing: border-box;
}

.banner-2-box img, 
.banner-3-box img,
.banner-4-box img {
    max-width: 100%; display: block; border-radius: 5px;
}
span.banner-txt, 
span.banner-price {
    display: inline-block; margin-top: 3px;
    height: 30px; line-height: 30px; font-size: 0.938rem;
}
a.more-btn {
    display: inline-block; width: 20%; padding: 15px 35px; vertical-align: middle; text-align: center; border: 1px solid #D2D2D2;
    margin: 20px 35.5%; font-size: 1rem;
} 
.banner-3-box a.banner-3-header, 
.banner-4-box a.banner-4-header {display: block; position: relative;}
.banner-1-box span.banner-1-txt {position: absolute; left: 30px; bottom: 25px; color: #fff; font-size: 1.563rem; font-weight: bold;}


/* footer */
footer, footer a {color: #BCBCBC; }
.footer-infor { }
.footer-infor > ul li {float: left; margin-right: 30px;}
.footer-infor > ul li a { }
.address, .adress > a {font-size: 12px; line-height: 20px;}
.address {margin: 50px 0; }
span.copyright {display: inline-block; font-size: 14px;}