/* layout */
.wrapper {width: 99%; overflow:  hidden; position: relative;}
.header {height: 71px; }
main {z-index: 101;}
section { }
footer {min-height: 340px; background: #2E2E2E; padding: 55px 5px;}

/* 가운데 영역 */
.container {max-width: 1078px;margin: 0 auto;/*background: rgba(0,0,0,0.5);*/overflow: hidden;}

/* header */
.header h1 {float: left; padding: 25px; }
.header h1 a.logo {display: block; float: left; width: 182px; height: 20px; background: url(../img/img_gnb_181002.png) no-repeat; }

.header .gnb {float: left; margin-left: 85px;}
.header .gnb > ul {overflow: hidden;}
.header .gnb > ul > li {float: left; margin-right: 24px; }
.header .gnb > ul > li:after {content: ''; display: block; }
.header .gnb > ul > li:hover {border-bottom: 3px solid #000; }
.header .gnb > ul > li > a {display: block; font-size: 18px; line-height: 68px; height: 68px;}

/* total_menu */
.total_menu {
    position: absolute; left: 0; top: 71px; width: 100%; height: 590px; background: #fff;
    box-shadow: 0px 8px 8px rgba(150, 150, 150, 0.50);
    border-top: 1px solid #efefef; z-index: 9999999999;
}
.total_menu .container {height: 100%; overflow: hidden;}
.total_menu .container .total_menu_left,
.total_menu .container .total_menu_right {float: left; height: 100%; line-height: 50px; font-size: 15px;}
.total_menu .container .total_menu_left {width: 55%;}
.total_menu .container .total_menu_right {width: 45%; border-left: 1px solid #efefef; box-sizing: border-box;}

.total_menu .container .total_menu_left h3,
.total_menu .container .total_menu_right h3 {padding: 10px 10px 0 10px; }

.total_menu .container .total_menu_left > ul.main_menu {position: relative; width: 187px; height: 100%; padding-left: 10px;}
.total_menu .container .total_menu_left > ul.main_menu > li > a, 
ul.sub_menu > li > a {
    display: block; line-height: 40px; color: #999999;
}
.total_menu .container .total_menu_left > ul.main_menu > li ul.sub_menu {display: none; position: absolute; }
.total_menu .container .total_menu_left > ul.main_menu > li ul.sub_menu-1 {top: 0; left: 187px; }
.total_menu .container .total_menu_left > ul.main_menu > li ul.sub_menu-2 {top: 40px; left: 187px; }
.total_menu .container .total_menu_left > ul.main_menu > li ul.sub_menu-3 {top: 80px; left: 187px; }
.total_menu .container .total_menu_left > ul.main_menu > li ul.sub_menu-4 {top: 120px; left: 187px; }
.total_menu .container .total_menu_left > ul.main_menu > li ul.sub_menu-5 {top: 160px; left: 187px; }
.total_menu .container .total_menu_left > ul.main_menu > li ul.sub_menu-6 {top: 200px; left: 187px; }
.total_menu .container .total_menu_left > ul.main_menu > li ul.sub_menu-7 {top: 240px; left: 187px; }
.total_menu .container .total_menu_left > ul.main_menu > li:hover ul.sub_menu {display: block; width: 420px;} 

.total_menu .container .total_menu_right {}
.total_menu .container .total_menu_right > ul {display: flex; flex-wrap: wrap; }
.total_menu .container .total_menu_right > ul > li {width: 50%; padding: 10px;}
.total_menu .container .total_menu_right > ul > li > a {display: flex;}
.total_menu .container .total_menu_right > ul > li > a .char_txt {padding-left: 10px; }
.total_menu .container .total_menu_right > ul > li > a .char_txt h5 {line-height: 30px;}
.total_menu .container .total_menu_right > ul > li > a .char_txt p {font-size: 12px; line-height: 20px;}

.m-gnb {display: none;}

.header .header-util {float: right;}
.header .header-util > ul {overflow: hidden;}
.header .header-util > ul li {float: left; padding: 24px 0; margin-right: 27px;}
.header .header-util > ul li a {display: block; width: 25px; height: 25px; }
.header .header-util > ul li:nth-child(1) a {background: url(../img/img_gnb_181002.png) no-repeat -184px 0; }
.header .header-util > ul li:nth-child(2) a {background: url(../img/img_gnb_181002.png) no-repeat -205px 0; }
.header .header-util > ul li:nth-child(3) a {background: url(../img/img_gnb_181002.png) no-repeat -230px 0; }
.header .header-util > ul li:nth-child(4) a {background: url(../img/img_gnb_181002.png) no-repeat -285px 0; }

/* main */
.bx-wrapper { }
main .slider span.slider-txt {display: block; margin-top: 30px; font-size: 15px; text-align: center; font-weight: bold;}
main .slider span.slider-title {display: block; font-size: 34px; text-align: center; font-weight: bold; margin: 10px 0 20px 0;}

.bx-wrapper .bx-pager {display: none;}
.bx-wrapper .bx-controls-direction a {top: 43%;}

/* section > banner-box */
.banner-1-box { }
.banner-1-box > ul {overflow: hidden; }
.banner-1-box > ul li {position: relative; float: left; width: 50%; padding: 10px; box-sizing: border-box;}
.banner-1-box > ul li:nth-child(odd) {}
.banner-1-box img {max-width: 100%; display: block; border-radius: 10px;}
.banner-1-box span.banner-1-txt {position: absolute; left: 30px; bottom: 25px; color: #fff; font-size: 1.563rem; font-weight: bold;}

.banner-2-box, .banner-3-box, .banner-4-box {/*background: #888;*/ position: relative; margin-top: 60px;}

.banner-2-box > ul li, 
.banner-3-box > ul li,
.banner-4-box > ul li {
    float: left; width: 25%; padding: 10px; box-sizing: border-box;
}

.banner-2-box img, 
.banner-3-box img,
.banner-4-box img {
    max-width: 100%; display: block; border-radius: 5px;
}
span.banner-txt, 
span.banner-price {
    display: inline-block; margin-top: 3px;
    height: 30px; line-height: 30px; font-size: 0.938rem;
}
a.more-btn {
    display: inline-block; width: 20%; padding: 15px 35px; vertical-align: middle; text-align: center; border: 1px solid #D2D2D2;
    margin: 20px 35.5%; font-size: 1rem;
} 
.banner-3-box a.banner-3-header, 
.banner-4-box a.banner-4-header {display: block; position: relative;}
.banner-1-box span.banner-1-txt {position: absolute; left: 30px; bottom: 25px; color: #fff; font-size: 1.563rem; font-weight: bold;}


/* footer */
footer, footer a {color: #BCBCBC; }
.footer-infor { }
.footer-infor > ul li {float: left; margin-right: 30px;}
.footer-infor > ul li a { }
.address, .adress > a {font-size: 12px; line-height: 20px;}
.address {margin: 50px 0; }
span.copyright {display: inline-block; font-size: 14px;}