/* 모바일 수평 스크롤 금지 */
html, body {max-width: 100%; overflow-x: hidden;}

html, body, .wrapper {margin: 0; padding: 0; outline: none; box-sizing: border-box;}
ul, li {list-style: none; padding: 0; margin: 0; box-sizing: border-box;}
h1, h2, h3, h4, p {margin: 0;}
a {color: #000000; text-decoration: none;}

/* layout ====================================================================================== */
.wrapper {display: flex; flex-direction: row; width: 100%;}
.wrapper .nav {position: fixed; left: 0; top: 0; width: 200px; height: 100%; background: #ffffff; border-right: 2px solid #000; z-index: 999;} 
.wrapper .container {flex: 1; height: 100%; padding-left: 200px;}

/* nav ====================================================================================== */
.nav > h1 {padding: 60px 30px 30px; }
.nav > h1 > a {display: block; }
.nav > p {margin-top: 90px; font-size: 14px; font-family: 'Cormorant Garamond', serif; text-align: center;}
.nav > p:before {content:''; display: block; width: 40px; height: 1px; background: #000000; margin: 0 0 30px 80px;}
.nav .gnb { }
.nav .gnb > ul {padding: 0 60px; }
.nav .gnb > ul > li { }
.nav .gnb > ul > li > a {
    display: block; height: 38px; line-height: 38px; font-size: 16px; 
    font-weight: bold; font-family: 'Cormorant Garamond', serif; text-align: center;
}
.nav .nav-banner {padding: 0 55px; }
.nav .nav-banner ul.affiliated-company { }
.nav .nav-banner ul.affiliated-company > li {margin-bottom: 12px; }
.nav .nav-banner ul.affiliated-company > li > a { }
.nav .nav-banner ul.affiliated-company > li > a > img {width: 90px; height: 90px; }
.nav .language-select {
    display: flex; flex-direction: row; justify-content: space-around; padding: 55px 30px 50px 30px;
    font-size: 14px; text-align: center;
}
.nav .language-select a.kor, 
.nav .language-select a.eng {
    display: inline-block; width: 50%;
}
.nav .language-select a.kor {border-right: 1px solid #8d8d8d; font-weight: 400;}
.nav .language-select a.eng {font-family: 'Cormorant Garamond', serif; }


/* m-nav ====================================================================================== */

.m-nav {display: none;}

.m-nav-header {
    display: flex; flex-direction: row;
    width: 100%; height: 80px;
}
.m-nav-header > a {display: block;}
a.m-nav-btn {padding: 25px 20px 25px 15px; box-sizing: border-box;}
a.m-logo {padding: 30px 100px 30px 30px; box-sizing: border-box;}
a.m-nav-btn > img {width: 26px; height: 26px; }
a.m-logo {flex: 1; text-align: center;}
a.m-nav-btn, a.close-btn {}

.m-nav-container .m-gnb { }
.m-nav-container .m-gnb > ul {padding: 40px 60px; }
.m-nav-container .m-gnb > ul > li { }
.m-nav-container .m-gnb > ul > li > a {
    display: block; height: 38px; line-height: 38px; font-size: 16px; 
    font-weight: bold; font-family: 'Cormorant Garamond', serif; text-align: center; 
}
.m-nav-container > p {margin-top: 50px; font-size: 14px; font-family: 'Cormorant Garamond', serif; text-align: center;}
.m-nav-container > p:before {content:''; display: block; width: 40px; height: 1px; background: #000000; margin: 20px auto;}

.m-nav-container .nav-banner {padding: 0 55px; }
.m-nav-container .nav-banner ul.affiliated-company {display: flex; flex-direction: row; justify-content: space-evenly; margin-top: 50px;}
.m-nav-container .nav-banner ul.affiliated-company > li {margin: 0 0 12px 12px;}
.m-nav-container .nav-banner ul.affiliated-company > li > a { }
.m-nav-container .nav-banner ul.affiliated-company > li > a > img {width: 90px; height: 90px; }
.m-nav-container .language-select {
    display: flex; flex-direction: row; justify-content: space-evenly; padding: 55px 200px 50px 200px;
    font-size: 14px; text-align: center;
}
.m-nav-container .language-select a.kor, 
.m-nav-container .language-select a.eng {
    display: inline-block; width: 50%;
}
.m-nav-container .language-select a.kor {border-right: 1px solid #8d8d8d; font-weight: 400;}
.m-nav-container .language-select a.eng {font-family: 'Cormorant Garamond', serif; }


/* container ====================================================================================== */
.container .main-bg {padding-top: 10px;}
.container .main-bg a.main-bg-1 {
    display: block; width: 100%; height: 425px;    
    background: url(../img/slider-1.jpg) 50% 50% no-repeat; background-size: cover;
}
.container h3 {height: 55px; text-align: center; font-size: 20px; font-family: 'Cormorant Garamond', serif;}
.container .site-link .fashion,
.container .site-link .beauty,
.container .site-link .food {
    overflow: hidden; margin-top: 40px;
}
.container .site-link ul li {float: left; max-width: 12.5%;}
.container .site-link ul li a {display: block; line-height: 0; }
.container .site-link ul li a img {width: 100%;}

.container .notice {margin-top: 80px; position: relative;}
.container .notice > h3 {position: relative; height: 75px;}
.container .notice > h3:after {
    content:''; display: block; width: 40px; height: 1px; background: #000000; 
    position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin: auto;
}
.container .notice > a.read-more {
    position: absolute; right: 20px; top: 30px; font-family: 'Cormorant Garamond', serif;
    text-decoration: underline; font-size: 13px;
}
.container .notice ul.notice-list {overflow: hidden;}
.container .notice ul.notice-list.notice-bot {margin-top: 60px;}
.container .notice ul.notice-list > li {float: left; max-width: 25%;}
.container .notice ul.notice-list > li > a { }
.container .notice ul.notice-list > li > a > img {width: 100%; margin-bottom: 15px;}
.container .notice ul.notice-list > li > a > p {padding: 0 10px;}

.footer {min-height: 170px; }
.footer p.adr-1, p.adr-2 {text-align: center; font-family: 'Cormorant Garamond', serif; line-height: 30px;}
.footer p.adr-1 {position: relative; margin-top: 70px; margin-bottom: 30px;}
.footer p.adr-1:after {
    content:''; display: block; width: 40px; height: 1px; background: #000000; margin: 20px auto;
}   